/* TABLET */
@media (max-width: 768px) {
    /* HEADER */
    .container {
        width: 768px;
    }
}

/*MOBILE*/
@media (max-width: 480px) {
    /* HEADER */
    .container {
        width: 480px;
    }

    .row {
        flex-wrap: wrap;
    }

    /*LESSON SECTION*/
    .lessons .col {
        width: 100% ;
    }

    /* STEPS SECTION */
    .steps .col {
        width: 100%;
        padding: 2rem 0;
    }

    /* WHY US SECTION */
    .why-us .col-left {
        width: 100%;
    }
    
}
